button{
  border: none;
  outline: none;

  font-family: monospace;
  background: transparent;
  color:black;

  padding: 4px;
}

button::before{
  content:"["
}

button::after{
  content:"]"
}

button:hover{
  background: black;
  color:white;
}

.input{
  border:none;
  outline: none;

  border-bottom: 1px solid black;

  padding: 4px;

  font-family: monospace;

  margin: 4px;
  font-size: 14px;
}

.input::before{
  content: "["
}

select{
  font-family: monospace;
  font-size: 14px;
  padding: 4px;
}

textarea{
  border:none;
  outline: none;

  padding: 8px;

  background: transparent;
}

#layers{
  
}

.input:focus{
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.body{
  padding: 8px;
  display: grid;
  grid-template-columns: minmax(300px, 40%) 1fr;
}

.left-side{
  padding: 8px;
  border: 1.5px solid black;

  display: grid;
  grid-template-rows: 1fr minmax(100px, 20%);
  height: calc(100vh - 100px);
}

body{
  margin: 0;
  padding: 0;
  background: #eeeeee;
}

.menu{
  /* border-bottom: 1.5px solid black; */
  background: white;
  height: 30px;
}