@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

:root,.button{
  font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.button{
  /* background:black; */
  background: #232323;
  outline: none;
  border:none;
  color:white;
  padding: 0px 16px;
  padding-left: 24px;
  line-height: 30px;
  /* transition: background 0.15s; */
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
  text-align: left;
  /* text-transform: uppercase; */
}

.button:hover{
  /* background: rgba(255,255,255,0.25); */
  background: #03a9f4;
  outline: none;
  border:none;
}

.button::after{
  content:">";
  background-image: url('chevron_right-white.svg');
  background-position: 50%;
  background-size:20px 20px;
  width: 30px;
  opacity: 0.65;
  /* color: rgba(255,255,255,0.65); */
  float: right;
  margin-left: 16px;
  color:transparent;
  display: block;
}

.button:focus{
  /* background: rgba(255,255,255,0.15); */
  /* background:#03a9f4; */
  outline: none;
  border:none;
}

.tabs-bar{
  display:flex;
  flex-direction: row;
  height: 40px;
  background: #212121;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
  z-index: 1000;
}

.tabs-bar>button{
  background: transparent;
  color:white;
  outline:none;
  border:none;
}

.menu-bar::after{
  position: absolute;
    content: "";
    top: -16px;
    left: 10px;
    /* transform: translateX(50%); */
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #212121;
    border-left-color: transparent;
}

.menu-bar{
  /* height: 30px; */
  top:48px;
  left: 4px;
  /* top:10px; */
  display:none;
  /* align-items: center; */
  /* border-bottom:rgba(255,255,255,0.65) solid 1px ; */
  box-sizing: border-box;
  position: absolute;

  flex-direction: column;
  background: #232323;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 3px;
  padding: 10px 0;
}

.menu-button:focus ~ .menu-bar, .menu-bar:hover{
  display:flex;
}
.menu-button{
  width:40px;
  height:40px;
}
.menu-button:hover{
  background: rgba(255,255,255,0.25);
  
}
.menu-button:focus{
  /* display:flex; */
  background:#03a9f4;
}

.menu-selection-canceler{
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:fixed;
  background:black;
  z-index: 10000;
}

.menu-list{
  display: none;
  position: absolute;
  background: #232323;
  /* padding:8px 0; */
  /* border:1px solid rgba(255,255,255,0.35); */
  color:white;
  font-size: 14px;
  min-width:  fit-content;
  margin-bottom:4px;
  border-radius: 4px;
}
.button:hover ~ .menu-list, .menu-list:hover{
  /* display: block; */
  display:inline-block;
}
/* .menu-list:hover{
  display: block;
}
.menu-list:focus{
  display: none;
} */

.menu-list>.item{
  cursor: pointer;
  padding:8px;
  padding-left: 16px;
  white-space: nowrap;
}
.menu-list>.item:hover{
  background: rgba(255,255,255, 0.35);
}

.menu-list>.split{
  height:1px;
  background:rgba(0,0,0,0.35);
}
.shortcut{
  color: rgba(255,255,255,0.65);
  float: right;
  margin-left: 16px;
}


.parent{
  height: calc(100vh - 40px);
  display: grid;
  /* grid-template-columns: minmax(150px, 17%) 1px minmax(200px, 17%) 1px 1fr; */
  grid-template-columns: minmax(150px, 17%) 1fr minmax(300px, 30%);
  padding: 0;
  margin: 0;
  /* height: calc(100% - 30px); */
}

.sidebar {
  /* height: 100vh; */
  /* font-size: 2rem; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-sizing: border-box;
  color:black;
}

.image_preview {
  background: #e5e5e5;
}

.parent>.split{
  background: rgba(0,0,0,0.65);
  box-sizing: border-box;
  margin:0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list{
  /* align-self: stretch; */
  height:calc(100vh - 100px);
  /* flex: 1; */
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list>.item{
  padding: 8px 16px;
  width: calc(100% - 14px);
  color: black;
}

.list>.item:hover{
  background: rgb(206, 206, 206);
}

.layers-list{
  padding-bottom: 300px;
}

.layers-list>.split{
  height:1px;
  background:rgba(255,255,255,0.35);
}

.layers-list>.arrow::after{
  content: "↓";
  display:block;
  color:black;
  text-align:left;
  margin-left:32px;
  font-size:24px;

  /* margin-left:-64px; */
}

.layer-item:focus{
  background:rgba(255,255,255,0.35);
}

.insert-box.hide{
  display: none;
}

.insert-box{
  width:100%;
  padding:16px;
  text-align:center;
  background:#cc737346;
  color:black;
}

.section-title{
  color: black;
  margin: 0;
  padding: 16px;

  font-size: 16px;
  font-weight: 300;
}

body {
  /* font-family: system-ui, serif; */
  /* background: black; */
  background: white;
  color:black;
  margin: 0;

  display:flex;
  flex-flow: column;
}

.dialog-container.hide{
  display:none;
}

.dialog-container{
  background:rgba(0,0,0,0.15);
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;

  z-index: 1000;

  backdrop-filter: blur(10px);

  display: grid;
  place-items: center;
}

.dialog{
  min-width: 500px;
  min-height: 350px;

  max-width: 700px;
  max-height: 500px;

  overflow-x: hidden;
  overflow-y: scroll;

  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* border: 1px solid rgba(255,255,255,0.65); */
}

.dialog>.close{
  float:right;
  fill: black;
  padding: 8px;
  /* border-radius: 50%; */
  box-sizing:border-box;
}

.dialog>.close:hover{
  background:rgba(0,0,0,0.35);
}

.dialog>.title{
  float:top;
  color:black;
  text-align: center;
  font-size: 18px;
  margin: 16px 0;
  font-weight: 500;
  padding-left:50px;
}

.dialog>.dui{
  padding: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* background: black; */
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.35); 
  border-radius: 10px;
  transition:all 0.35s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.65);
}

.dui{
  padding: 8px;
}

.dui>*{
  margin-block-end: 8px;
}

.dui-text{
  color:black;
  margin-block-end: 16px;
  font-weight: 500;
}

.dui-center{
  display: grid;
  place-items: center;
  text-align: center;
}

.dui-textfield{
  outline: none;
  border:2px solid black;
  color:black;
  box-sizing: border-box; 
  background: transparent;
  padding: 8px;
  font-size: 16px;
  min-width: 300px;
  margin-block-end: 8px;
  border-radius: 4px;
}

.dui-textfield::placeholder{
  color: rgba(0,0,0,0.35);
}

.dui-selector{
  outline: none;
  border:2px solid black;
  color:white;
  box-sizing: border-box; 
  background: black;
  padding: 8px;
  font-size: 16px;
  min-width: 300px;
  margin-block-end: 8px;
  border-radius: 4px;
}

.dui-selector:focus{
  background: transparent;
  color:black;
}

.dui-button{
  outline: none;
  border:2px solid black;
  color:black;
  box-sizing: border-box; 
  background: transparent;
  padding: 8px;
  font-size: 16px;
  min-width: 100px;
  margin-block-end: 16px;
  text-transform: uppercase;
  border-radius: 4px;
}

.dui-button:hover{
  background: rgba(0,0,0,0.25);
}

.dui-codeeditor{
  background:black;
  border:1px solid white;
  min-width: 500px;
  min-height: 350px;
  margin-block-end: 8px;
  padding: 8px;
  color:white;
  font-size: 16px;
  border-radius: 4px;
}

.dui-codeeditor:focus{
  background:rgba(255,255,255,0.1);
  /* border:1px solid white; */
}

.dui-row-container{
  display:flex;
  flex-direction: row;
}

.dui-row-container>*{
  display:inline-block;
  margin-right: 8px;
}


.dui-column-container{
  display:flex;
  flex-direction: column;
}

.dui-column-container>*{
  padding-inline-end: 8px;
}

ol{
  margin:0;
}

.preview-title{
  text-transform: uppercase;
}

.preview-container{
  padding: 16px;
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  box-sizing: border-box;
}


.preview>.title{
  float:top;
  color:white;
  /* text-align: center; */
  font-size: 18px;
  margin: 16px;
  font-weight: 500;
}

.preview-home{
  cursor: pointer;
}

.preview-home:hover{
  text-decoration:underline;
}