button{
  border: none;
  outline: none;

  font-family: monospace;
  background: transparent;
  color:black;

  padding: 4px;
}

button::before{
  content:"["
}

button::after{
  content:"]"
}

button:hover{
  background: black;
  color:white;
}

.input{
  border:none;
  outline: none;

  border-bottom: 1px solid black;

  padding: 4px;

  font-family: monospace;

  margin: 4px;
  font-size: 14px;
}

.input::before{
  content: "["
}

select{
  font-family: monospace;
  font-size: 14px;
  padding: 4px;
}

textarea{
  border:none;
  outline: none;

  padding: 8px;

  background: transparent;
}

#layers{
  
}

.input:focus{
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.body{
  padding: 8px;
  display: grid;
  grid-template-columns: minmax(300px, 40%) 1fr;
}

.left-side{
  padding: 8px;
  /* border: 1.5px solid black; */

  display: grid;
  grid-template-rows: 1fr minmax(100px, 20%);
  height: calc(100vh - 100px);

  overflow-y: scroll;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #eeeeee;
}

.menu{
  border-top: 5px solid black;
  /* background: white; */
  height: 30px;
  
  display: flex;
  flex-direction: row;

  margin:0;
  padding:0;
  padding-left: 16px;

  z-index: 100;

  list-style-type: none;
}

.menu>li{
}

.menu-list{
  list-style-type: none;
  padding-left:0;
  font-family: monospace;
  position: absolute;
  margin:0;

  display: none;
  background:white;

  min-width:  fit-content;
  /* display: flex; */
  flex-direction: column;
}

.menu-btn:hover ~ .menu-list{
  display: block;
}

.menu-btn:before{
  content:"   ";
}

.menu-btn::after{
  content:"   ";
}

.menu>li:hover>.menu-btn{
  background: black;
  color:white;
}

.menu>li>.menu-btn{
  padding-left: 8px;
  padding-right: 8px;
}

.menu-list:hover{
  display: block;
}

.menu-list>*{
  padding: 4px 8px;
  cursor: pointer;

  /* position: relative; */

  display: block;

  white-space: nowrap;
}

.menu-list>*:hover{
  background:black;
  color: white;
}

.menu-list>li>.shortcut{
  color: rgba(0, 0, 0, 0.35);
  float: right;
  margin-left: 32px;
}

.menu-list>li:hover>.shortcut{
  color: rgba(255,255,255, 0.65);
  float: right;
  margin-left: 32px;
}

.title{
  font-family: monospace;
  font-weight: bold;
}

h1.title.helper{
  font-size: 14px;
  margin: 8px 0;
}

.mono{
  font-family: monospace;
  padding:16px 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

textarea{
  resize: none;
}

a{
  color:black;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.helper-container{
  box-sizing: border-box;
  overflow-y: scroll;
}

.preview-container{
  overflow: scroll;
  position:relative;
  box-sizing: border-box;

  height: calc(100vh - 100px);

  display: grid;
    place-items: center;
}

#preview{
  transition:transform 0.15s;
  display: block;
  transform-origin:0 0;
  margin: 32px; 
}

.i{
  opacity: 0.35;
  font-weight: normal;
}